.footer {
    padding: 0 20px 30px;

    &__p {
        color: #A1A1A1;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    &__rate {
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        margin-top: 13px;
    }
}